body {
	margin: 0;
}

.canvas {
	width: 	700px;
	height: 700px;
	border: 1px solid #CCCCCC;
	display: inline-block;
}

.sidebar {
	display: inline-block;
	vertical-align: top;
}

.controls {
	display: block;
	vertical-align: top;
	width: 400px;
	border: 2px solid #888888;
}

.debug-info {
	display: block;
	vertical-align: top;
	width: 400px;
	border: 2px solid #333333;
}

.debug-info p {
	margin: 5px;
}