body {
	margin: 0;
}

.canvas {
	width: 	700px;
	height: 700px;
	border: 1px solid #CCCCCC;
	display: inline-block;
}

.sidebar {
	display: inline-block;
	vertical-align: top;
}

.controls {
	display: block;
	vertical-align: top;
	width: 450px;
	border: 2px solid #888888;
}

.adjacency {
	/* display: none; */
}

.adjacency p {
	font-size: 0.75em;
	margin: 0px;
}

.adjacency input[type=checkbox] {
	vertical-align: top;
}

.adjacency input[type=checkbox]+p {
	display: inline;
	vertical-align: top;
	font-size: 1em;
}

.debug-info {
	display: block;
	vertical-align: top;
	width: 450px;
	border: 2px solid #333333;
}

.debug-info p {
	margin: 5px;
}