html {
  width: 1250px;
}

#draw-space {
    display: inline-block;
}

.node-label {
  position: absolute;
  text-align: center;
  color: black;
  pointer-events: none;
}

.instructions {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}

.controls input[type="number"]{
    width: 50px;
}

#tikz-color input[type="text"]{
  width: 50px;
}

.tikz code {
  white-space: pre;
  tab-size: 4;
}

#adjacency-matrix {
  display: none;
  vertical-align: top;
  font-size: 20px;
  white-space: pre;
}
